@font-face {
    font-family: 'HandelsonTwo';
    src: url('../fonts/HandelsonTwoCYR-Two.woff2') format('woff2'),
        url('../fonts/HandelsonTwoCYR-Two.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
	background: #ffdbc3;
	overflow-x: hidden;
}

.ft-handelson {
    font-family: 'HandelsonTwo';
}

a {
	transition: all ease .185s;
	color: #c73b3e
}

a:hover {
	color: #141414
}

.icon {
	font-size: 0;
	line-height: 0;
	display: inline-block;
}

.text-red {
	color: #c73b3e
}

.text-black {
	color: #141414
}

.site-name {
	font-weight: 700;
	color: #141414;
	font-size: 18px;
	margin-left: 20px;
}

.header {
	padding-top: 22px;
	position: relative;
	z-index: 3
}

.header__logo,
.header__logo:hover {
	text-decoration: none;
}

.header__social {
	margin-left: auto;
}

.social-list {
	display: flex;
	align-items: center;
}

.social-list__item {
	margin-left: 28px;
}

.social-list__link,
.social-list__link .icon {
	display: block;
}

svg path {
	transition: all ease .185s
}

.social-list__link svg path {
	fill: #141414;
}

.social-list__link:hover svg path {
	fill: #bd3336;
}

.headings {
	margin-top: 252px;
	max-width: 590px;
	position: relative;
	z-index: 3;
	margin-left: 80px;
}

.headings__header {
	position: relative;
}

.headings__header h1 {
	font-size: 76px;
	line-height: 64px;
	color: #fef4ed;
	font-weight: 300;
}

.header__contacts {
	margin-left: 80px;
}

.header__contactsLinks {
	padding-top: 2px;
	padding-left: 56px;
	background-image: url(../img/icons/call.svg);
	background-repeat: no-repeat;
	background-position: center left;
}

.header__contactsLinks a {
	font-weight: 500;
}

.headings__luck {
	position: absolute;
	bottom: 0;
	right: -36px;
	color: #ff888a;
	font-size: 35px;
	font-family: 'HandelsonTwo';
}

.headings__announce {
	color: #fee2ce;
	font-size: 22px;
	margin-top: 36px;
}

.headings__action {
	margin-top: 36px;
}

.headings__actionBtn {
	background-color: #141414;
	color: #faebe4;
	font-size: 18px;
	font-weight: 500;
	padding: 14px 28px 14px 20px;
	height: 64px;
	border-radius: 32px;
}

.headings__actionBtn .icon {
	margin-right: 10px;
}

.headings__actionBtn .icon svg path {
	fill: #bd3336;
}

.headings__actionBtn:hover {
	background-color: #211f1f
}

.headings__actionBtn:hover .icon svg path {
	fill: #fee2ce;
}

.preface-hero__background {
	position: relative;
	left: 0;
	width: 100%;
	top: -332px;
}

.background-image {
	position: absolute;
	right: 50%;
	margin-right: -356px;
}

.background-image_mao {
	position: absolute;
    top: 100px;
    left: 50%;
    margin-left: 118px;
}

.scroll-down {
	position: relative;
	z-index: 3;
	margin-top: 18px;
}

.scroll-down a {
	font-family: 'HandelsonTwo';
	color: #ff888a;
	font-size: 32px;
}

.scroll-down .icon {
	margin-top: 10px;
	margin-left: 36px;
}

a.no-underline {
	text-decoration: none
}

.benefits-hero {
	position: relative;
	margin-top: 20px;
	padding-bottom: 16px;
	background-image: url(../img/sunburst_to_up.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.benefits__decor {
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5vw;
    max-height: 80px;
    z-index: 2;
}

.benefits__holder {
	position: relative;
}

.benefits__image {
	text-align: center;
	padding-left: 150px;
}

.benefits__imageScratches {
    position: absolute;
    bottom: -74px;
    left: 50%;
    margin-left: -190px;
    z-index: 3;
}

.benefits__title {
    position: absolute;
    text-align: center;
    top: 86px;
    left: 50%;
    margin-left: -211px;
    width: 422px;
    color: #ff888a;
    font-size: 65px;
    line-height: 34px;
    font-family: 'HandelsonTwo';
}

.edge {
	display: block;
    position: relative;
    margin: 0 auto;
}

.edge path {
	fill: #010101;
}

.benefit {
	height: 55px;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Segoe UI', arial;
	color: #ffdbc3;
	font-style: italic;
	line-height: 24px;
	font-size: 21px;
	position: absolute;
}

.benefit-1,
.benefit-4 {
    top: 250px;
}

.benefit-2,
.benefit-5 {
    top: 370px;
}

.benefit-3,
.benefit-6 {
    top: 500px;
}

.benefit-1 {
	background-image: url(../img/1.png);
    width: 462px;
    left: 30px;
    padding-right: 44px;
    text-align: right;
}

.benefit-2 {
	background-image: url(../img/2.png);
	width: 313px;
	text-align: right;
    padding-right: 52px;
    left: 30px;
}

.benefit-3 {
	background-image: url(../img/3.png);
	width: 330px;
	padding-right: 32px;
    text-align: right;
    left: 76px;
}

.benefit-4 {
	background-image: url(../img/4.png);
	width: 442px;
	padding-left: 38px;
    text-align: left;
    right: 48px;
}

.benefit-5 {
	background-image: url(../img/5.png);
	width: 329px;
	right: 0;
	padding-left: 34px;
}

.benefit-6 {
	background-image: url(../img/6.png);
	width: 262px;
	right: 136px;
	padding-left: 26px;
}

.radio-group__item + .radio-group__item 
{
	margin-left: 20px;
}

.form {
	display: flex;
	align-items: flex-end;
	margin: 0 -10px;
	padding-bottom: 200px;
}

.form .form-group {
	margin: 0 10px;
}

.form .form-group label.form-label {
	font-size: 18px;
	margin-bottom: 18px;
}

.form-group_grow {
	flex-grow: 1
}

.radio-group {
	display: flex;
}

.formSubmitbtn {
	background-color: #db3a3e;
    color: #faebe4;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 32px 14px 32px;
    height: 64px;
    border-radius: 32px;
}

.today__hero {
	background-color: #010101;
	color: #fef4ed;
	padding-top: 70px;
}

.today__title {
	font-size: 56px;
	line-height: 56px;
	color: #fef4ed;
	font-weight: 300
}

.today__wrapper {
	margin-left: 80px;
}

.steps,
.step {
	display: flex;
}

.steps {
	padding-left: 146px;
	justify-content: space-between;
	margin-top: 12px;
	margin-bottom: 60px
}

.step {
	position: relative;
	align-items: center;
	flex-shrink: 0;
}

.step__description {
	padding-top: 32px;
	text-align: center;
	font-family: 'Segoe UI', arial;
	font-weight: 600;
	font-style: italic;
	font-size: 22px;
	line-height: 26px;
	flex-shrink: 0;
}

.step__arrow {
	position: absolute;
}

.step_last .step__description {
	text-align: left;
}

.step_first .step__description {
	text-align: right;
	margin-left: -120px;
}

.step_first .step__arrow {
	left: -140px;
    bottom: -30px;
}

.step_center .step__arrow {
	top: -60px;
    right: -72px;
}

.step_center .step__description {
	margin-left: -12px;
}

.step__number {
	font-family: 'HandelsonTwo';
	font-size: 144px;
	line-height: 144px;
	color: #bd3336
}

.form-control {
	border: 0 none;
	height: 64px;
	background-color: #1b1919;
	box-shadow: none;
	border-radius: 0;
	outline: none;
	border-bottom: 3px solid #bd3336;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
}

.form-control:hover,
.form-control:focus {
	background-color: #211f1f;
	box-shadow: none;
	outline: none;
	border-color: #bd3336;
	color: #ffffff;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

input[type="radio"] + label {
	border: 3px solid #363232;
	margin-bottom: 0;
	cursor: pointer;
	color: #c7bbbb;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 28px;
	font-weight: 500;
}

input[type="radio"]:checked + label {
	border-color: #bd3336;
	color: #fff;
}

.clients {
	margin-top: 40px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.clients__hero {
	padding: 100px 0 90px;
	background: url(../img/3bottom.png) top center, url(../img/sunburst_to_down.png) top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #ffdbc3;
}

.clients__heroTitle {
	font-family: 'HandelsonTwo';
	font-size: 64px;
	line-height: 64px;
	color: #bd3336;
	text-align: center;
}

.client {
	max-width: 300px;
	text-align: center;
}

.client__name {
	font-family: 'Segoe UI', arial;
	font-weight: 600;
	font-style: italic;
	font-size: 22px;
	line-height: 26px;
	margin-top: 8px;
}

.client__announce {
	font-size: 18px;
	line-height: 22px;
	margin-top: 16px;
}

.client__image {
	height: 224px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.star {
	padding-top: 66px;
}

@media only screen and (min-width: 1220px) {
	.container {
		width: 1290px;
		max-width: 1290px
	}
}